<section class="card">
  <a href="allanimals/cat/{{id}}"></a>
    <header class="animal-name">{{name}}</header>

    <div class="card-body">
      <img src="/assets/images/{{filename}}" alt="{{description}}" style="border: 5px inset black; width: 30vw; height: auto">
    </div>
  
</section>