<section class="card">
    <header class="animal-name">{{name}}</header>
    <div class="card-body">
        <img src="/assets/images/{{filename}}" alt="{{description}}"
            style="border: 5px inset black; width: 30vw; height: 65vh">
    </div>
    <button id="voting-btn" style="width: 30vw; margin: 0">Vote for me!</button>
</section>

