<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Whiskers</title>
</head>

<body>
  <header class="">
    <h1>
      Social Whiskers
    </h1>
  </header>
  <main class="">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>