<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Whiskers</title>
  {{!--
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> --}}
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="/CSS/main.css">
</head>

<body>
  <header class="">
    <ul class="navbar">

      {{!-- <li class="navitem"><a href='/seeFavs'> View Favorites </a></li> --}}
      <div class="navitem-wrapper">
        <li class="navitem"><a href="/"> Home </a></li>
        <li class="navitem"><a href='/cats'> View Cats </a></li>
        <li class="navitem"><a href='/dogs'> View Dogs </a></li>
        <li class="navitem"><a href='/voting'> Vote for Pet of the Month </a></li>
      </div>
      <div class="search-wrapper">
        <input type="text" placeholder="Search by Breed" />
        <button>Search</button>
      </div>
    </ul>
    {{!-- Navbar - NS --}}
    <h1 id="headline">
     Social Whiskers &nbsp;<i class="fa-solid fa-paw"></i>
    </h1>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
    <p>FOLLOW US ON SOCIAL MEDIA</p>
    <p>Email us @ socialwhiskers@gmail.com to adopt today!</p>
  </footer>
</body>
 <script src="https://kit.fontawesome.com/3bd957b710.js" crossorigin="anonymous"></script>
</html>