<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Whiskers</title>
  <link rel="stylesheet" type="text/css" href="/CSS/main.css">
</head>

<body>
  <header class="">
    <ul class="navbar">
      <li class="navitem"><a href="/"> Home </a></li>
      <li class="navitem"><a href='/allanimals'> View all Pets </a></li>
      <li class="navitem"><a href='/voting'> Vote for Pet of the Month </a></li>
      <li class="navitem"><a href='/seeFavs'> View Favorites </a></li>
    </ul>
    {{!-- Navbar - NS --}}
    <h1>
      Social Whiskers
    </h1>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>

  </footer>
</body>

</html>