<<<<<<< HEAD

<!--filter with checkboxes?
images with favorite icon (heart?)
descriptions next to images -->
=======
<section class="container">
    <button id="cats-only-btn">View CATS only</button> {{!maybe just section out the page instead of having these buttons. Cats on top, dogs below. section headers???}}
    <button id="dogs-only-btn">View DOGS only</button>
  <h1 class="animal-gallery">Adoptable Animals</h1>
  <!-- If the user is logged in, render all animal content -->
  {{!-- {{#if loggedIn}} --}}
  <section class="img-wrapper">
    {{#each animals as |animal|}}
    {{> animal-details}}
    {{/each}}
  </section>
</section>


<!-- Otherwise, provide a link to login -->
{{!-- {{else}}
<a href="/login">You must login first to view this page</a>
{{/if}} --}}


<!--commented out the "if logged in" logic because it's not functioning yet.-->
>>>>>>> 709a9c1938829c0522fc7c357b23a372214fe41c
