<!DOCTYPE html>
<html>
<head>
    <title>Social Whiskers Home Page</title>
    
</head>
<body>
    <div class="container">
        <img src="" alt="">
        <class ="form group">
            <button id="login-submit" a href="./login.handlebars"> Log In</button>
            <button id="signout-submit" > Log Out</button>
            <p>Don't have a login?</p>
            <button id="signup-submit" a href ="./signup.handlebars"> Sign Up With Social Whiskers!</button>
            </class>
        </div>
    </div>
</body>
</html>
