<!DOCTYPE html>
<html>
<head>
    <title>Social Whiskers Home Page</title>
</head>
<body>
    <div class="container">
        <img src="" alt="">
        <class ="form group">
            {{!-- {{#if !logged_in}} --}}
            <a href="/login">
            <button id="login-submit">Log In</button>
            </a>
            <button id="signout-submit" >Log Out</button>
            {{!-- {{/if}} --}}
            <p>Don't have a login?</p>
            <a href ="/signup">
            <button id="signup-submit"> Sign Up With Social Whiskers!</button>
            </a>
            </class>
        </div>
    </div>
</body>
</html>
