<!DOCTYPE html>
<html>

<head>
    <title>Pet Voting Page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/voting.css">
</head>

<body>
    <h2>Pet of the Month</h2>
    <h3 id="animal-name">Winston</h3>
    <div class="card-body">
        <img src="/assets/images/cat5.jpg" alt="Photo of featured pet"
            style="border: 5px inset black; width: 30vw; height: auto">
    </div>
    <p id="landing-p">To vote for next month's featured pet, visit the voting tab at the top of the page!</p>
    <div>
        <button id="logout-button">Logout</button>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>