<div>
    <img src="views\images\cat1.jpg" alt="photo of featured pet of the month"> <!--will this work for adding photos? -->
</div>
<div>
    <button>Vote for next month's featured pet!</button> <!-- make this a link? -->
</div>
<div>
    <p>Search for:</p>
</div>
<div>
    <button>Cats</button> <!-- make this a link? -->
</div>
<div>
    <button>Dogs</button> <!-- make this a link? -->
</div>

<!--maybe we can just do one button to search for all pets and then filter on the one page?-->