<!DOCTYPE html>
<html>

<head>
    <title>Pet Voting Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div>
        <button img src=".assets/cat5.jpg" alt="Photo of featured pet" style="border: 5px inset black;">Vote for next
            month's featured pet!</button>
    </div>
</body>

</html>