<div>
    <img src="" alt="">
</div>
<div>
    <button>Vote for next month's featured pet!</button> <!-- make this a link? -->
</div>
<div>
    <p>Search for:</p>
</div>
<div>
    <button>Cats</button> <!-- make this a link? -->
</div>
<div>
    <button>Dogs</button> <!-- make this a link? -->
</div>