<!DOCTYPE html>
<html>
<head>
    <title>Pet Voting Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div>
        <img src="views/images/cat1.jpg" alt="photo of featured pet of the month">
    </div>
    <div>
        <a href="./assets/cat1.jpg"><button>Vote for next month's featured pet!</button></a>
    </div>
    <div>
        <p>Search for:</p>
    </div>
    <div>
        <a href="./assets/cat5.jpg"><button>Cats</button></a>
        <a href="./assets/dog4.jpg"><button>Dogs</button></a>
        
    </div>
</body>
</html>