<!DOCTYPE html>
<html>

<head>
    <title>Pet Voting Page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/voting.css">
</head>

<body>
    <div>
        <button img src=".assets/cat5.jpg" alt="Photo of featured pet" style="border: 5px inset black;">Vote for next
            month's featured pet!</button>
    </div>
    <div>
        <button id="animal-search">Search Animals</button>
    </div>
    <script src="/js/petfinder.js"></script>
</body>

</html>