<!DOCTYPE html>
<html>

<head>
    <title>Pet Voting Page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/voting.css">
</head>

<body>
    <div id="home-format">
    <article class="articles" id="food-article">
        <h3>Our Favorite Food Brands</h3>
        <p>Our staff is dedicated to finding the best pet food brands to feed our animals, and we want to share our findings with you. </p>
        <img src="\assets\petfoodlitter\purina-one.png" style="border: none; height: width: 20px; height: auto">
        <button id="purina" class="amazon-button">View on Amazon</button>
        <img src="\assets\petfoodlitter\bluebuffalo.jpg" style="border: none; height: width: 10vw; height: auto">
        <button id="bluebuffalo" class="amazon-button">View on Amazon</button>
    </article> 
     <div class="pet-of-month-card">
    <h2>Pet of the Month</h2>
    <h3 id="animal-name">Winston</h3>
        <img src="/assets/images/cat5.jpg" alt="Photo of featured pet"
            style="border: 5px inset black; width: 30vw; height: auto">
            </div>
            <article class="articles" id="litter-article">
        <h3>What Litter is best for my pet?</h3>
        <p>Many people have their favorite litters, but which type is actually best for your pet's health? Lets read into it! </p>
        <img src="\assets\petfoodlitter\worlds-best.png" style="border: none; height: width: 10vw; height: auto">
        <button id="worldsbest" class="amazon-button">View on Amazon</button>
        <img src="\assets\petfoodlitter\pretty-litter.png" style="border: none; height: width: 10vw; height: auto">
        <button id="prettylitter" class="amazon-button">View on Amazon</button>
    </article> 
    </div>
   
    <p id="landing-p">To vote for next month's featured pet, visit the voting tab at the top of the page!</p>
    <div>
    </div>
        <button id="logout-button">Logout</button>
   
    <script src="../js/index.js"></script>
</body>

</html>