<!DOCTYPE html>
<html>
<head>
    <title>Pet Voting Page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/voting.css">
</head>
<body>
    <div id="pet-of-month">
        <h2>Pet of the Month</h2>
        <h3>Winston</h3>
        <img img src="/assets/images/cat5.jpg" alt="Photo of featured pet" style="border: 5px inset black; width: 30vw; height: auto">
    </div>    
        
        <button id="go-vote-btn">Vote for next month's featured pet!</button>
    
    <div>
        <button id="logout-button">Logout</button>
    </div>
    <script src="../js/index.js"></script>
</body>
</html>