<!DOCTYPE html>
<html>
<head>
    <title>Pet Voting Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
    </header>
    
    <main> <div>
        <h2>CATEGORY IS: Best Starry Eyes</h2>
        <button img src=".assets/cat1.jpg" alt="photo of featured pet" style="border: 5px inset black;">Vote for this Cat!</button>
        <button img src=".assets/dog2.jpg" alt="photo of featured pet" style="border: 5px inset black;">Vote for this Dog!</button>
    </div>
        <p>View all adoptable pets</p>
        <button class="search-button">Search</button>
    </main>
</body>
</html>
<!-- wireframe by NS--> 