<button>HOME</button>

<p>View all adoptable pets</p> <!--bottom of the page in case people want to go back to get more info on the pets for voting or check them out after seeing them in the bracket-->
<button>Search</but