<head>
    <title>Pet Voting Page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/voting.css">
</head>

<div class="img-wrapper">
    {{#each animals as |animal|}}
    {{> voting-details}}
    {{/each}}
</div>
<div>
    <form>Add a comment about your favorite animal!
        <input id="user-input" type="text"><button>Submit</button>
    </form>
    <div style="border: solid, black, 5px">
    <p>Comments:</p>
    {{#each comments as |comment|}}
    {{> comments-details}}
    {{/each}}
     </div>
</div>

<!--script tag importing voting.js-->
<!-- wireframe by NS-->