<head>
    <title>Pet Voting Page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/voting.css">
</head>

<div class="img-wrapper">
    {{#each animals as |animal|}}
    {{> voting-details}}
    {{/each}}
</div>
<p>View all adoptable pets</p>
<button class="search-button">Search</button>

<!-- wireframe by NS-->