* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04f704;
}

.navitem-wrapper {
    display: flex;
}

li.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navitem a:hover {
    background-color: #555;
}

.search-wrapper {
    margin-right: 5vw;
}

.img-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

